<!DOCTYPE html>
<html lang="en" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <mvc:resources mapping="/resources/**" location="/resources/" />
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<!-- Side navigation -->
<div class="sidenav" th:fragment="sidenav">
    <link th:href="@{/webjars/font-awesome/5.6.1/css/all.min.css}" rel="stylesheet">
    <div class="profile">
        <div class="wrapper">
            <img src="../images/projecticus_logo.PNG" class="avatar img-circle img-thumbnail" alt="Logo">
        </div>
        <a th:href="@{/profile}" class="changeProfile">Profil bearbeiten</a>
    </div>
    <a th:href="@{/home}">Projects</a>
    <a th:href="@{/eva}">Earned-Value-Analysis</a>
    <button class="dropdown-btn">Indicators
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a th:href="@{/document_lines}">Documentation lines</a>
        <a th:href="@{/code_lines}">Code lines</a>
    </div>
    <a th:href="@{/burndown}">Burndown</a>
    <script th:src="@{/js/sidebar.js}"></script>
</div>