html {
    height: 100%;
}
body {
    height: 100%;
    font-family: "Segoe UI Light";
}
.content_wrapper {
    /* Firefox */
    width: -moz-calc(100% - 280px);
    /* WebKit */
    width: -webkit-calc(100% - 280px);
    /* Standard */
    width: calc(100% - 280px);

    height: 100%;
    float:right;
    padding: 2%;
}
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    max-width: 300px;
    max-height: 300px;
    opacity: 0.7;
}
.person:hover {
    border-color: #20263c;
}
.btn {
    padding: 10px 20px;
    background-color: #20263c;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}
.btn:hover, .btn:focus {
    border: 1px solid #20263c;
    background-color: #5bc0de;
    color: #fff;
}