html {
    height: 100%;
}
body {
    height: 100%;
    font-family: "Segoe UI Light";
}
.content_wrapper {
    /* Firefox */
    width: -moz-calc(100% - 280px);
    /* WebKit */
    width: -webkit-calc(100% - 280px);
    /* Standard */
    width: calc(100% - 280px);

    height: 100%;
    float:right;
    padding: 2%;
}

#contable {
    overflow-y: scroll;
    height: 400px;
}

thead {
    overflow-y: auto;
    position: sticky;
    top: 0;
    background: #fff;
}

.changeProfile {
    font-size: 15px !important;
}

.selected {
    background-color: lightgrey;
}

.btn {
    margin: 5px;
}

.btn-primary {
    background-color: #20263c !important;
    border-style: none !important;
}