html {
    height: 100%;
}
body {
    height: 100%;
    font-family: "Segoe UI Light";
}
.content_wrapper {
    /* Firefox */
    width: -moz-calc(100% - 280px);
    /* WebKit */
    width: -webkit-calc(100% - 280px);
    /* Standard */
    width: calc(100% - 280px);

    height: 100%;
    float:right;
    padding: 2%;
}
#createButton {
    margin-top:25px;
}
table {
    margin-top: 10px;
}

.erroralert {
    margin: 5px;
}

.alert_ok_link {
    color: white;
}

.alert_ok_link:hover {
    color: white;
    text-decoration: none;
}

.glyphicon-check {
    background-color: #20263c !important;
    color: white;
}

.select_button {
    background-color: #20263c !important;
    border-color: #20263c !important;
}

.page-link {
    color: #20263c !important;
}

.page-item {
    border-style: solid;
    border-width: 1px;
    border-color: #20263c;
    background-color: #20263c !important;
}

.page-link:hover{
    background-color: #20263c !important;
    color: white !important;
}

.pagination {
    float:right !important;
    border-style: solid;
    border-color: #20263c;
    border-radius: 3px;
    border-width: 1px;
    background-color: #20263c !important;
}

