html {
    height: 100%;
}
body {
    height: 100%;
    font-family: "Segoe UI Light";
}
.content_wrapper {
    /* Firefox */
    width: -moz-calc(100% - 280px);
    /* WebKit */
    width: -webkit-calc(100% - 280px);
    /* Standard */
    width: calc(100% - 280px);

    height: 100%;
    float:right;
    padding: 2%;
}

.erroralert {
    margin: 5px;
}

.alert_ok_link {
    color: white;
}

.alert_ok_link:hover {
    color: white;
    text-decoration: none;
}

