html {
    height: 100%;
}
body {
    font-family: "Segoe UI Light";
    color: #20263c !important;
    height: 100%;
}
.content_wrapper {
    /* Firefox */
    width: -moz-calc(100% - 280px);
    /* WebKit */
    width: -webkit-calc(100% - 280px);
    /* Standard */
    width: calc(100% - 280px);
    height: 100%;
    float:right;
    padding: 2%;
}

#birth_date { /* adjust the line height just for the datepicker */
    line-height: 1.42857143 !important;
}

hr { /* color the line the same color as the background */
    border-top: 1px solid #20263c !important;
}

.content {
    /*margin-left: 25%;*/
}
.row {
    padding-left: 15%;
    padding-top: 2%;
}
.cancelbutton {
    background-color: #20263c !important;
    margin-top: 3px;
}

.tabContentRow {
    padding-top: 0% !important;
}

