/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 280px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #20263c;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a, .dropdown-btn{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    font-family: "Segoe UI Light";
}

.dropdown-btn {
    width: 100%;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
    text-decoration:underline;
    display:inline-block;
}

/* Dropdown container */
.dropdown-container {
    display: none;
    background-color: #202630;
    padding-left: 8px;
}

.dropdown-container a {
    font-size: 17px;
}

/* Style of the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
    padding-top: 6px;
}

.profile {
    padding-left: 16px;
    display: flex !important;
    justify-content: left;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.wrapper {
    width:100px;
    height:100px;
    /*margin: 25px auto;*/
    overflow: hidden;
    border-radius:50%;
    position: relative;
}

.wrapper img {
    object-fit: cover;
    border-radius:50%;
    width: 100px;
    height: 100px;
}

.changeProfile {
    font-size: 15px !important;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

