<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error 401</title>
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/error.css">
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/5.6.1/css/all.min.css}" rel="stylesheet">
</head>
<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
        </div>
        <h2>401 - Access prohibited</h2>
        <p>You're not authorized to access this page.</p>
        <a th:href="@{/home}">Go To Homepage</a>
    </div>
</div>
</body>
</html>