<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <!--bootstrap -->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}" rel="stylesheet"/>
    <script th:src="@{webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.6/dist/umd/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- Side navigation -->
<div th:replace="fragments/sidebar :: sidenav"></div>

<div class="content_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" >
                <h1>My Projects</h1>
            </div>
        </div>
        <div th:if="${not #lists.isEmpty(errors)}" class="row border-top">
            <div class="col-sm-12 erroralert">
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Oops...something happened</h4>
                    <p>There are wrong inputs! Please consider the following errors, for the next input!</p>
                    <hr>
                    <ul th:each="error : ${errors}">
                        <li><p class="text-left" th:text="${error}"></p></li>
                    </ul>
                    <form th:action="@{/home}">
                        <button type="submit" class="btn btn-info">OK</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>