<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <!--bootstrap -->
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}" rel="stylesheet"/>
    <script th:src="@{webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.6/dist/umd/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
</head>
    <body>
        <!-- Side navigation -->
        <div th:replace="fragments/sidebar :: sidenav"></div>

        <div class="content_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12" >
                        <h1>My Projects</h1>
                    </div>
                </div>
                <div class="row border-top">
                    <div class="col-sm-12">
                        <button class="btn btn-info" id="createButton" data-title="Create" data-toggle="modal" data-target="#create">Create</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table id="mytable" class="table table-borderless">
                                <thead class="border-bottom">
                                    <th>Project Name</th>
                                    <th>Type</th>
                                    <th>Department</th>
                                    <th>Description</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    <th>Select</th>
                                </thead>
                                <tbody>
                                    <tr th:each="project : ${projectPage.content}">
                                        <td th:text="${project.projectname}"></td>
                                        <td th:text="${project.type}"></td>
                                        <td th:text="${project.department}"></td>
                                        <td th:text="${project.description}"></td>
                                        <td>
                                            <p data-placement="top" data-toggle="tooltip" title="Edit">
                                                <button class="btn btn-info btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" th:value="${project.id}" onclick="passProjectID(this)" >
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                            </p>
                                        </td>
                                        <td>
                                            <p data-placement="top" data-toggle="tooltip" title="Delete">
                                                <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" th:value="${project.id}" onclick="passProjectID(this)" >
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </p>
                                        </td>
                                        <td>
                                            <p data-placement="top" data-toggle="tooltip" title="Select">
                                                <button class="btn btn-primary btn-xs select_button" data-title="Select" data-toggle="modal" data-target="#select" >
                                                    <span class="glyphicon glyphicon-check"></span>
                                                </button>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix"></div>
                            <ul th:if="${projectPage.totalPages > 0}" class="pagination pull-right" >
                                <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                                    <a class="page-link" th:href="@{/home(size=${projectPage.size}, page=${pageNumber})}"
                                                         th:text="${pageNumber}">

                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title custom_align" id="Heading">Edit the Project Details</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        </div>
                        <form method="post" id="editForm" th:action="@{/home/editProject/0}" th:object="${project}"> <!-- editProject is a placeholder, otherwhise there would be forbidden- error -->
                            <div class="modal-body">
                                <div class="form-group">
                                    <input class="form-control " type="text" name="projectname" id="projectname" placeholder="Project Name">
                                </div>
                                <div class="form-group">
                                    <input class="form-control " type="text" name="type" id="type" placeholder="Type">
                                </div>
                                <div class="form-group">
                                    <input class="form-control " type="text" name="department" id="department" placeholder="Departmant">
                                </div>
                                <div class="form-group">
                                    <textarea rows="2" class="form-control" name="description" id="description" placeholder="Description"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer ">
                                <button type="submit" class="btn btn-info btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
                        </div>
                        <div class="modal-footer ">
                            <form method="post" id="deleteForm" th:action="@{/home/deleteProject/0}"> <!-- editProject is a placeholder, otherwhise there would be forbidden- error -->
                                <button type="submit" class="btn btn-info" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                            </form>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="create" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title custom_align" id="Heading">Create new Project</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        </div>
                        <form class="form" th:action="@{/home/createProject}" th:object="${project}" method="post" id="projectCreateForm">
                            <div class="modal-body">
                                <div class="form-group">
                                    <input class="form-control " type="text" name="projectname" id="projectname" placeholder="Project Name">
                                </div>
                                <div class="form-group">
                                    <input class="form-control " type="text" name="type" id="type" placeholder="Type">
                                </div>
                                <div class="form-group">
                                    <input class="form-control " type="text" name="department" id="department" placeholder="Departmant">
                                </div>
                                <div class="form-group">
                                    <textarea rows="2" class="form-control" name="description" id="description" placeholder="Description"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer ">
                                <button type="submit" class="btn btn-info btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Create</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
        <script th:src="@{/js/projects.js}"></script>
    </body>
</html>