<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <!-- Bootstrap -->
    <link href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
        <div class="container">
            <div class="row">
                <div class="Absolute-Center is-Responsive">
                    <div id="login-container" class="col-sm-12 col-md-10 col-md-offset-1">
                        <h1>Login</h1>
                        <form th:action="@{/login}" method="post">
                            <div th:if="${param.error}">
                                <div class="alert alert-danger">
                                    Invalid username or password.
                                </div>
                            </div>
                            <div th:if="${param.logout}">
                                <div class="alert alert-info">
                                    You have been logged out.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>:
                                <input type="text"
                                       id="username"
                                       name="username"
                                       class="form-control"
                                       autofocus="autofocus"
                                       placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>:
                                <input type="password"
                                       id="password"
                                       name="password"
                                       class="form-control"
                                       placeholder="Password">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit"
                                               name="login-submit"
                                               id="login-submit"
                                               class="form-control btn btn-info"
                                               value="Log In">
                                    </div>
                                    <div id="link-container" class="col-sm-6 col-sm-offset-3">
                                        <a th:href="@{/registration}">Sign up</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>