<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
    <!-- Bootstrap -->
    <link href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="image-wrapper">
        <div class="container">
            <div id="article_wrapper" class="card bg-light">
                <article id="register_article" class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-title mt-3 text-center">Create Account</h4>
                    <p class="text-center">Get started with your free account</p>
                    <form th:action="@{/registration}" th:object="${user}" method="post">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input th:field="*{username}" name="" class="form-control" placeholder="Username" type="text">
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input th:field="*{firstname}" name="" class="form-control" placeholder="First name" type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                            <input th:field="*{lastname}" name="" class="form-control" placeholder="Last name" type="text">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input th:field="*{email}" name="" class="form-control" placeholder="Email address" type="email">
                        </div> <!-- form-group// -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input th:field="*{dateofbirth}" class="form-control" placeholder="Date of Birth" type="date">
                        </div> <!-- form-group// -->

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input th:field="*{password}" class="form-control" placeholder="Create password" type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input th:field="*{matchingPassword}" class="form-control" placeholder="Repeat password" type="password">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" th:action="@{/home}"> Create Account  </button>
                        </div> <!-- form-group// -->
                        <p class="text-center">Have an account? <a th:href="@{/login}">Login</a> </p>
                        <ul th:each="error : ${errors}">
                            <li><p class="text-left" th:text="${error}"></p></li>
                        </ul>
                    </form>
                </article>
            </div> <!-- card.// -->
        </div>
        <!--container end.//-->
    </div>
</body>
</html>